<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Areas/Admin/Connect/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/Areas/Admin/Connect/css/metisMenu.min.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="~/Areas/Admin/Connect/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Areas/Admin/Connect/css/startmin.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/Areas/Admin/Connect/css/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Areas/Admin/Connect/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @{
        var u = Session["use"] as CuaHangBanHoa.TaiKhoan;
    }

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Startmin</a>
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav navbar-left navbar-top-links">
                <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="fa fa-home fa-fw"></i> Website</a></li>
            </ul>
            <ul class="nav navbar-right navbar-top-links">
                <li class="dropdown navbar-inverse">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> Admin <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="@Url.Action("Details", "TaiKhoans", new { id = u.MaNguoiDung })">
                                <i class="fa fa-user fa-fw"></i> @u.HoTen
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-gear fa-fw"></i> Settings
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/NguoiDung/DangXuat">
                                <i class="fa fa-sign-out fa-fw"></i> Đăng Xuất
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.navbar-top-links -->
        </nav>
        <!-- /.navbar-inverse -->
        <!-- Sidebar -->
        <aside class="sidebar navbar-default" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="#" class="active"><i class="fa fa-dashboard fa-fw"></i> Trang Chủ</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "SanPhams")"><i class="fa fa-cube fa-fw"></i> Sản Phẩm</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "LoaiHangs")"><i class="fa fa-tags fa-fw"></i> Loại hàng</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "TaiKhoans")"><i class="fa fa-users fa-fw"></i> Tài khoản</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "PhanQuyens")"><i class="fa fa-key fa-fw"></i> Phân Quyền</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","DonHangs")"><i class="fa fa-file-text-o fa-fw"></i> Đơn hàng</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Thongkes")"><i class="fa fa-bar-chart-o fa-fw"></i> Thống kê</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","TinTucAdmin")"><i class="fa fa-newspaper-o fa-fw"></i> Tin tức</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </aside>
        <!-- /.navbar-static-side -->
        <!-- Page Content -->
        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Areas/Admin/Connect/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Areas/Admin/Connect/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Areas/Admin/Connect/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Areas/Admin/Connect/js/startmin.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
