@model IEnumerable<CuaHangBanHoa.DonHang>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .badge {
        font-size: 0.85rem; /* Adjust badge font size */
    }

    .badge-warning, .badge-success, .badge-danger, .badge-info {
        color: #fff; /* Light text color for badge texts */
    }

    .badge-warning {
        background-color: #f0ad4e; /* Bootstrap's default warning color */
    }

    .badge-success {
        background-color: #5cb85c; /* Bootstrap's default success color */
    }

    .badge-danger {
        background-color: #d9534f; /* Bootstrap's default danger color */
    }

    .badge-info {
        background-color: #5bc0de; /* Bootstrap's default info color */
    }
</style>

<h2>Đơn Hàng </h2>

<p>
    @Html.ActionLink("Tạo đơn hàng", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            <span>Mã Đơn</span>
        </th>
        <th>
            <span>Họ Tên</span>
        </th>
        <th>
            <span>Ngày Đặt</span>
        </th>
        <th>
            <span>Tình Trạng Đơn</span>
        </th>
        <th>
            <span>Hình Thức Thanh Toán</span>
        </th>
        <th>
            <span>Địa Chỉ Nhận Hàng</span>
        </th>
        <th>
            <span>Tổng Tiền</span>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Madon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @if (item.TinhTrang == 0)
                {
                    <span class="badge badge-warning">Đang chờ xác nhận</span>
                }
                else if (item.TinhTrang == 1)
                {
                    <span class="badge badge-success">Đã xác nhận</span>
                }
                else
                {
                    <span class="badge badge-warning">Đang chờ xác nhận</span>
                }

            </td>
            <td>
                @if (item.ThanhToan == 1)
                {
                    <span class="badge badge-danger">Tiền mặt</span>
                }
                else if (item.ThanhToan == 2)
                {
                    <span class="badge badge-info">Chuyển khoản</span>
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DiaChiNhanHang)
            </td>
            <td>
                @String.Format("{0:0,0}", item.TongTien) VNĐ
            </td>
            <td>
                <button class="btn btn-primary">
                    @Html.ActionLink("Xem", "Details", new { id = item.Madon }, new { @style = "color:white;" })
                </button>
            </td>
        </tr>
    }
</table>






